= form_for @person do |f|
  - if @person.errors.any?
    #error_explanation
      %h2= "#{pluralize(@person.errors.count, "error")} prohibited this person from being saved:"
      %ul
        - @person.errors.full_messages.each do |msg|
          %li= msg

  %p.field
    = f.label :name
    = f.text_field :name
  %p.field
    = f.label :email
    = f.text_field :email
  %p.field
    = f.label :password
    = f.text_field :password
  %p.field
    = f.label :password_confirmation
    = f.text_field :password_confirmation
  %p.actions
    %button 'Sign up'
